@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
    font-weight: regular;
}
@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto";
    font-size: 35px;
}
nav {
    font-size: 32px;
}

.bold {
    font-weight: bold;
}

li::marker {
    color:#EDD765;
}

.profile-photo {
    width: 335px;
    border-radius: 600px;
    border: 5px solid white;
    margin-bottom: 20px;
}

header {
    background-color: #EDD765;
    width: 587px;
    height: 630px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 58px;
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;

}

.list {
    list-style-type: disc;
    list-style-position: inside;
}

.list-item {
    margin-bottom: 20px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.skills__list, 
.lang__list {
    list-style-type: none;
}

.contact,
.lang,
.skills,
.my-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
}

aside {
    max-width: 587px;
    background-color: #EAEAE6;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #EDD765;
}

.contact__header {
    margin-bottom: 60px;
}


.rectangle {
    width: 325px;
    height: 19px;
}
.rectangle-90 {
    width: 290px;
    height: 19px;
}

.rectangle-40 {
    width: 141px;
    height: 19px;
}
.rectangle-80 {
    width: 273px;
    height: 19px;
}
.rectangle-orange {
    background-color: #EDD765;
}
.rectangle-grey {
    background-color: #D9D9D9;
}